[submodule "ghcjs-jquery"]
	path = non-hackage-dependencies/ghcjs-jquery
	url = https://github.com/ghcjs/ghcjs-jquery.git
[submodule "shakespeare-dynamic"]
	path = non-hackage-dependencies/shakespeare-dynamic
	url = git@github.com:plow-technologies/shakespeare-dynamic.git
[submodule "ghcjs-canvas"]
	path = non-hackage-dependencies/ghcjs-canvas
	url = https://github.com/ghcjs/ghcjs-canvas.git
[submodule "ghcjs-ffiqq"]
	path = non-hackage-dependencies/ghcjs-ffiqq
	url = https://github.com/ghcjs/ghcjs-ffiqq.git
[submodule "ghcjs-vdom"]
	path = non-hackage-dependencies/ghcjs-vdom
	url = https://github.com/plow-technologies/ghcjs-vdom.git
[submodule "ghcjs-servant-client"]
	path = non-hackage-dependencies/ghcjs-servant-client
	url = git@github.com:plow-technologies/ghcjs-servant-client.git
[submodule "stm-notify"]
	path = non-hackage-dependencies/stm-notify
	url = git@github.com:plow-technologies/stm-notify.git
[submodule "non-hackage-dependencies/valentine"]
	path = non-hackage-dependencies/valentine
	url = git@github.com:plow-technologies/valentine.git
